{{define "patient.view.appointment"}}
    {{template "patient.navbar".}}
    {{template "patient.view.appointment.content".}}
    {{template "patient.footer".}}
{{end}}

{{define "patient.view.appointment.content"}}
    <div class="container-fluid">
        <h1 class="mt-4">Appointments</h1>
        <div class="container">
            <table class="datatable table table-bordered table-striped"  style="width:100%;" cellspacing="0">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Patient Id</th>
                    <th>Date</th>
                    <th>Doctor</th>
                    <th>Department</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Patient Id</th>
                    <th>Date</th>
                    <th>Doctor</th>
                    <th>Department</th>
                </tr>
                </tfoot>
                <tbody>
                {{range .Appointment}}
                    <tr>
                        <td>{{.ID}}</td>
                        <td>{{.PatientId}}</td>
                        <td>{{.Date}}</td>
                        <td>{{.DoctorId}}</td>
                        {{/*                <td>{{.ID}}</td>*/}}

                    </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
    <!-- /#wrapper -->
    </div>
    </div>
{{end}}