{{define "patient.view.request"}}
    {{template "patient.navbar".}}
    {{template "patient.view.request.content".}}
    {{template "patient.footer".}}
{{end}}
{{define "patient.view.request.content"}}
    <div class="container-fluid">
        <h1 class="mt-4">List of requests you have made</h1>
        <div class="container">
            <table class="datatable table table-bordered table-striped"  style="width:100%;" cellspacing="0">
                <thead class="bg-white">
                <tr>
                    <th>ID</th>
                    <th>Petient ID</th>
                    <th>Approve status</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Petient ID</th>
                    <th>Approve status</th>
                </tr>
                </tfoot>
                <tbody>
                {{range .Request}}
                    <tr>
                        <td>{{ .ID}}</td>
                        <td>{{ .PatientId}}</td>
                        <td>{{ .ApproveStatus}}</td>
                    </tr>
                {{end}}
                </tbody>
            </table>
            <form action="/request/new" method="post">
                <input type="hidden" name="id" value="{{.ID}}">
                <button class="btn btn-primary btn-pill">New Request</button>
            </form>
        </div>
    </div>
    <!-- /#wrapper -->
    </div>
    </div>
{{end}}

