{{ define "admin.new.doctors.layout" }}
{{ template "navbar" . }}
{{ template "admin.new.doctors.content" . }}
{{ template "footer" . }}
{{ end }}

{{ define "admin.new.doctors.content"}}
<main role="main" class="">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Add New Doctors</h2>
  </div>
  <div class="container col-md-9 ml-sm-auto col-lg-10 px-4">
    <form class="well form-horizontal" action="/admin/doctors/new" method="post"  id="contact_form" enctype="multipart/form-data">
      <!-- Form Name -->
      <legend><h2><b>Add New Doctor</b></h2></legend><br>
      <!-- Text input-->
      <div class="row">
      <div class="col-5">
      <div class="form-group">
        <input type="hidden" name="_csrf" id="_csrf" value="{{ .CSRF }}" />
        <label for="full_name" class=" control-label">Full Name</label>
        {{with .VErrors.Get "full_name"}}
          <label class=" col-form-label text-danger">{{.}}</label>
        {{end}}
        <div class=" inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  name="full_name" id="full_name"  required autocomplete="off" placeholder="Full Name" class="form-control"  value="{{.Values.Get "full_name"}}" type="text">
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label for="user_password" class=" control-label" >Password</label>
        {{with .VErrors.Get "user_password"}}
          <label class=" col-form-label text-danger">{{.}}</label>
        {{end}}
        <div class=" inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <label>
              <input name="user_password" id="user_password"  required autocomplete="off" placeholder="Password" value='{{.Values.Get "user_password"}}' class="form-control"  type="password">
            </label>
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label for="confirm_password" class=" control-label" >Confirm Password</label>
        {{with .VErrors.Get "confirm_password"}}
          <label class=" col-form-label text-danger">{{.}}</label>
        {{end}}
        <div class=" inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <label>
              <input  name="confirm_password" id="confirm_password" required autocomplete="off" placeholder="Confirm Password" value='{{.Values.Get "confirm_password"}}' class="form-control"  type="password">
            </label>
          </div>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label for="email" class=" control-label">E-Mail</label>
        {{with .VErrors.Get "email"}}
          <label class=" col-form-label text-danger">{{.}}</label>
        {{end}}
        <div class=" inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input  name="email" id="email" required autocomplete="off" placeholder="joe@example.com" value='{{.Values.Get "email"}}' class="form-control"  type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="address" class=" control-label">Address</label>
        {{with .VErrors.Get "address"}}
          <label class=" col-form-label text-danger">{{.}}</label>
        {{end}}
        <div class=" inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="address" id="email" required autocomplete="off" placeholder="Addis Ababa,Ethiopia" value='{{.Values.Get "address"}}' class="form-control"  type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="address" class=" control-label">Department</label>
        {{with .VErrors.Get "department"}}
          <label class=" col-form-label text-danger">{{.}}</label>
        {{end}}
        <div class=" inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="department" id="email" required autocomplete="off" placeholder="Heart Spacialist" value='{{.Values.Get "address"}}' class="form-control"  type="text">
          </div>
        </div>
      </div>

        <div class="form-group">
          <label for="contact_no" class=" control-label">Contact No</label>
          {{with .VErrors.Get "phone"}}
            <label class=" col-form-label text-danger">{{.}}</label>
          {{end}}
          <div class=" inputGroupContainer">
            <div class="input-groupcontact_no">
              <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
              <input type="tel" id="contact_no" name="phone" required autocomplete="off"
                     placeholder="+2519"  value='{{.Values.Get "phone"}}'

                     class="form-control">
            </div>
          </div>
        </div>
      <!-- Text input-->

      </div>
      <div class="col-5">
      <div class="form-group">
        <label for="sex" class="control-label">Sex</label>
        <div class=" selectContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select id="sex" name="sex" class="form-control selectpicker">
              <option value="">Select your sex</option>
              <option>Male</option>
              <option>Female</option>
              <option >other</option>
            </select>
          </div>
        </div>
      </div>
      <!-- Text input-->
      <div class="form-group">
        <label for="bd" class=" control-label">Birth Date</label>
        {{with .VErrors.Get "bDate"}}
          <label class=" col-form-label text-danger">{{.}}</label>
        {{end}}
        <div class=" inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  name="bDate" id="bd" required autocomplete="off" placeholder="1999/2/3"  value='{{.Values.Get "bDate"}}'  class="form-control"  type="datetime-local">
          </div>
        </div>
      </div>

     
      <!-- <div class="form-group">
        <label for="age" class=" control-label">Age</label>
        {{with .VErrors.Get "age"}}
          <label class=" col-form-label text-danger">{{.}}</label>
        {{end}}
        <div class=" inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="age" name="age" value="{{.Values.Get "age"}}" required autocomplete="off" placeholder="0" class="form-control"  type="number">
          </div>
        </div>
      </div> -->

      <div class="form-group">
        <label for="catimg" class="col-form-label">Upload Image</label>
        {{with .VErrors.Get "catimg"}}
          <label class=" col-form-label text-danger">{{.}}</label>
        {{end}}
        <div class="col-sm-10">
          <input type="hidden" class="form-control-file" required autocomplete="off" value='{{.Values.Get "catimg"}}'  name="image" id="image">
          <input type="file" class="form-control-file" required autocomplete="off" value='{{.Values.Get "catimg"}}'  name="catimg" id="catimg">
        </div>
      </div>

      <div class="form-group">
        <label for="description" class=" control-label">Description</label>
        {{with .VErrors.Get "description"}}
          <label class=" col-form-label text-danger">{{.}}</label>
        {{end}}
        <div class=" inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="description" required autocomplete="off" name="description"
                   placeholder="Description" class="form-control"
                   value='{{.Values.Get "description"}}' type="text">
          </div>
        </div>
      </div>

      </div>
        </div>
      <!-- Success message -->
      <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Success!.</div>
      <div class="form-group">
        <label class=" control-label"></label>
        <div class=""><br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-warning" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
        </div>
      </div>
  </form>
      
      

      
     
      
    </form>
  </div>
</main>
{{ end }}
