{{define "pharm_prof.layout"}}

    {{template "pharm.nav.layout".}}
    {{template "pharm_prof.content".}}
    {{template "pharm.footer.layout".}}

{{end}}

{{ define "pharm_prof.content"}}

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
                
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
<link rel="stylesheet" href="../assets/css/dashboard.css">
<!-- Custom styles for this template-->
<link href="../assets/css/sb-admin-2.min.css" rel="stylesheet">
    </head>
    <body>

 <!-- Begin Page Content -->
 <div class="container-fluid bg-light">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Profile</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4 bg-light">
    <div>
    </div>

   {{with .}}
   {{with .Profile}}
   
    <form method="POST" action="/pharmProf/update"   >
     <div class="container row" style="margin:20px;">
      <input type="hidden" name="id" id="id" value="{{.ID}}">
       <div class="col">
         <img src="../assets/img/{{.Image}}" style="width: 200px;height: 300px; margin: 30px;" alt="img not found">
         <input class="mb-20" name = "image2" id= "image" type="hidden" value="{{if .Image}}{{.Image}}{{end}}"/>
         <input class="mb-20" name = "image" id= "image" type="file" value="{{if .Image}}{{.Image}}{{end}}"/>
       </div>
       <div class="col">
        <div class="form-group">
          <label class="col-md-4 control-label">Full Name</label>  
          <div class="col-md-6 inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="fullname" id="fullname" placeholder="fullname" class="form-control "  type="text" value="{{if .FullName}}{{.FullName}}{{end}}">
            </div>
          </div>
        </div>
        
    
        <div class="form-group">
          <label class="col-md-4 control-label">Birth Date</label>  
          <div class="col-md-6 inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="birthdate" id="birthdate" placeholder="birthDate" class="form-control "  type="date" value="{{if .BirthDate}}{{.BirthDate}}{{end}}">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">Phone</label>  
          <div class="col-md-6  inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="phone" id="phone" placeholder="Phone" class="form-control"  type="text" value="{{if .Phone}}{{.Phone}}{{end}}">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">Email</label>  
          <div class="col-md-6 inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="email" placeholder="email" class="form-control"  type="text" value="{{if .Email}}{{.Email}}{{end}}">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">Sex</label>  
          <div class="col-md-6  inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="sex" id="sex" placeholder="eg. Male" class="form-control"  type="text" value="{{if.Sex}}{{.Sex}}{{end}}">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">Address</label>  
          <div class="col-md-6  inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="address" id="address" placeholder="eg.Addis ababa,Ethiopia" class="form-control"  type="text" value="{{if .Address}}{{.Address}}{{end}}">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">Description</label>  
          <div class="col-md-6  inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <textarea  name="description" id="description" placeholder="" class="form-control"  type="text" >{{if .Description}}{{.Description}}{{end}}</textarea>
            </div>
          </div>
        </div>
       </div>
     </div>
     {{end}}
     {{end}}
  
      <button type="submit" class="btn  col-5 width-25 btn-primary">Update Profile</button>
  
    </form>
    <div class="card-body">
      <div class="table-responsive">
              
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
<div class="container my-auto">
  <div class="copyright text-center my-auto">
    <span>Copyright &copy; Your Website 2019</span>
  </div>
</div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
<div class="modal-footer">
  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
  <a class="btn btn-primary" href="login.html">Logout</a>
</div>
</div>
</div>
</div>
    </body>
    </html>

{{end}}