{{define "pharm_cat.layout"}}
    {{template "pharm.nav.layout"}}
    {{template "pharm_cat.content"}}
    

{{end}}

{{define "pharm_cat.content"}}
 <!-- Begin Page Content -->
 <div class="container-fluid bg-light">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Medicine Category</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4 bg-light">
      <div>

      </div>

      <div  style="margin-top: 2%;margin-left: 62%;">
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
              aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div style="display: flex;">
        <div style="width: 18%;" class="justify-content-center">
            <a class=" container  nav-link  bg-primary text-light" href="/cat" style="width: auto; margin-right: 5%; margin-left: 10%;">Category list</a>
  
        </div>
           <div style="width: 18%;">
              <a class=" container  nav-link  bg-primary text-light" href="/addcat" style="width: auto; margin-right: 5%;">Add Category</a>
     
           </div>
            
              
        
         
      </div>
  
     
    
        
             
      
      <div class="card-body ">
        <div class="table-responsive">
                <table class="table table-striped bg-light text-dark" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr class="text-dark">

                    <th>ID</th>
                    <th>Medicine Name</th>
                    <th>CategoryName</th>
                    <th>AddedBy</th>
                    <th>ExpiredAt</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Option</th>

              </tr>
            </thead>
           
            <tbody>
              <tr>
                  <td>1</td>
                  <td>Pencilin</td>
                  <td>Italy</td>
                  <td>12</td>
                  <td>09/07/2022</td>
                  <td>113</td>
                  <td>This is Pencilin medicine from Italy that kills fungus</td>
                  
                  <td>
                     
                    <a href="updateCat" class="fas fa-edit"></a>
                        <span>
                            <a href="#" class="fas fa-trash-alt text-danger"></a>
                        </span>
                  </td>

                 
              </tr>
              <tr>
                <td>2</td>
                <td>Aspirin</td>
                <td>Germany</td>
                <td>23</td>
                <td>09/07/2022</td>
                <td>113</td>
                <td>This is aspirin medicine from Germany</td>
                
                <td>
                   
                  <a href="updateCat" class="fas fa-edit"></a>
                      <span>
                          <a href="#" class="fas fa-trash-alt text-danger"></a>
                      </span>
                </td>
            </tr>
              

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Your Website 2019</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
  <div class="modal-footer">
    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
    <a class="btn btn-primary" href="login.html">Logout</a>
  </div>
</div>
</div>
</div>





{{end}}